{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <meta http-equiv="refresh" content="3;url={% url 'login' %}">

    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'CSS/loading_style.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <div class="loading-container">
        <img src="{% static 'assets/logo.png' %}" alt="logo" class="logo">
        <img src="{% static 'assets/Spinner@1x-1.0s-200px-200px (2).gif' %}" class="loader">
    </div>
</body>
</html>
